.App {
  text-align: center;
}
.flex {
  display: flex;
}
.card {
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  background-color: rgb(6, 7, 27);
  color: white;
  cursor: pointer;
}
button {
  font-size: calc(10px + 2vmin);
}
